@keyframes ani-mouse {
  0% {
    transform: translateY(0); /* Starting position */
    opacity: 1; /* Full opacity */
  }
  40% {
    transform: translateY(10px); /* Move down */
    opacity: 0; /* Fade out */
  }
  60% {
    transform: translateY(25px); /* Move a bit further down */
    opacity: 0; /* Keep faded out */
  }
  90% {
    transform: translateY(0); /* Move up quickly */
    opacity: 0; /* Fade back in */
  }
  100% {
    transform: translateY(0); /* Move up quickly */
    opacity: 1; /* Fade back in */
  }
}

.mouse {
  width: 35px;
  height: 55px;
  border: 3px solid white;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mouse > span {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  animation: ani-mouse 2.5s ease-in-out infinite;
}
