@keyframes ani-mouse {
  0% {
    opacity: 1;
    margin: 9px 11px;
  }
  15% {
    opacity: 1;
    margin: 19px 11px;
  }
  50% {
    opacity: 0;
    margin: 19px 11px;
  }
  100% {
    opacity: 0;
    margin: 9px 11px;
  }
}
.mouse {
  width: 35px;
  height: 55px;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.mouse > * {
  display: block;
  width: 8px;
  height: 8px;
  margin: 9px 11px;
  background: white;
  border-radius: 50%;
  animation: ani-mouse 2.5s linear infinite;
}
