@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inika";
  src: url("./fonts/Inika-Regular.ttf") format("truetype");
}

:root {
  --background: #080909;
  --p2: #0f3d2e;
  --p3: #1faa59;
  --p4: #7db691;
  --p5: #c7eed4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Sans", sans-serif; /* Set DM Sans as the font */
}

body,
html {
  cursor: none;
  font-family: "DM Sans", sans-serif; /* Set DM Sans for the body and html */
}

// Custom cursor styles
.dot-cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
  filter: url("#goo");
}

.dot-cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #00ff00;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-cursor {
  position: fixed;
  z-index: 9999; /* Ensures the custom cursor is always on top */
  pointer-events: none; /* Makes sure the cursor doesn't block interactions */
  width: 20px; /* Customize the cursor size */
  height: 20px;
  background-color: #000; /* Custom cursor color */
  border-radius: 50%; /* Make it circular */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

a {
  cursor: none !important;
}
